
{% extends 'modal.html' %}

{% load i18n widget_tweaks %}


{% block title %}
    {% trans 'Please insert sizes' %}
{% endblock %}


{% block body %}
    <form>

        {% csrf_token %}

        {% if male_form %}

            <div class="{% if female_form %}col-md-6{% else %}col-md-12{% endif %}">

                <h4>{% trans 'Male sizes' %}</h4>

                {% for field in male_form %}
                    <div class="row m-b-10">
                        <div class="col-xs-12 col-md-6 text-right">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-xs-12 col-md-6">
                            {{ field|add_class:'form-control input-sm' }}
                        </div>
                        {% if field.errors %}
                            <span class="help-block">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        {% if female_form %}

            <div class="{% if male_form %}col-md-6{% else %}col-md-12{% endif %}">

                <h4 class="text-center">{% trans 'Female sizes' %}</h4>

                {% for field in female_form %}
                    <div class="row m-b-10">
                        <div class="col-xs-12 col-md-6 text-right">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-xs-12 col-md-6">
                            {{ field|add_class:'form-control input-sm' }}
                        </div>
                        {% if field.errors %}
                            <span class="help-block">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        <div class="clearfix"></div>

    </form>
{% endblock %}


{% block footer %}
    <button type="button" class="btn btn-success pull-left" data-role="submit-btn">
        <i class="fa fa-plus"></i>
        {% trans 'Save' %}
    </button>

    <button type="button" class="btn btn-default" data-dismiss="modal">
        {% trans 'Cancel' %}
    </button>
{% endblock %}
