
django-easy-select2
django-multiupload
django-model-search
django-pure-pagination
django-ordered-model
django-modeltranslation
awesome-slugify
django-widget-tweaks
sorl-thumbnail
natsort
django-mptt
django-ckeditor

xhtml2pdf==0.1a3
django-easy-pdf==0.1.0
html5lib==0.9999999
django-mp-trans>=1.0
