
django-mp-basement==4.0.0
django-mp-cart==0.3.1
django-mp-availability==0.4.2
django-mp-orders==0.7.5

# attributes
six==1.15.0

# exchange
django-solo==2.0.0
django-mp-exchange==0.10.2

# categories
awesome-slugify==1.6.5
django-mptt==0.12.0
